<div class ="login">
<h2 class="lobster">Log in </h2>

<%= form_tag login_path do %>
	<div class="font"><%=label_tag :email %>
	<%=text_field_tag :email%>
	<br>
	<div class="font"><%=label_tag :password %>
	<%=password_field_tag :password %>
	<br>
	<div class="font"><%=submit_tag  :login%>
	<br>

<%end%>

</div>