<tr>
	Event Name:
<td><h1><%= @event.name %></h1></td>
Event Date:
<td><h2><%= @event.date%></h2></td>
Buget:
<td><h2>$<%= @event.budget%></h2></td>

<%= link_to "Delete", event_path, method: :delete %>
<%=link_to  "Edit" , edit_event_path(@event) %>

</tr>

 <!-- < % = link_to 'create your guest list' ,new_guest_list_path % > -->
 <div class ="wrapper">
 	<div class ="opbackground">
 <div class="invite"><%= render 'invites/invite_info' %></div>
 <br>
 <div class = "product"><%= render 'products/product_info' %></div>
</div>
</div>
<button class="button1"><h3>Create a GuestList</h3> </button>
<br>
<button class="button2"><h3>Create Items</h3></button>
 <br>
  <%=link_to  "Show Guest Your List" , invites_path(:event_id => @event.id)%>
 <br>
  <%=link_to  "Show Your Products" , products_path(:event_id => @event.id)%>
 <br>
<center><h1>Total cost </h1> <h2> $<%= @total %></h2>
	<center><h1>Remaining Budget </h1> <h2> $<%= @wallet%></h2>



