
<h4 class="lobster">Event Name:</h4>
<p><%= @event.name %></p>
<h4 class="lobster">Event Date:</h4>
<p><%= @event.date%></p>
<h4 class="lobster">Buget:</h4>
<p>$<%= @event.budget%></p>
<br>
<%= link_to "Delete", event_path, method: :delete %>
<%=link_to  "Edit" , edit_event_path(@event) %>

</tr>

 <!-- < % = link_to 'create your guest list' ,new_guest_list_path % > -->
 <div class ="wrapper">
 	<div class ="opbackground">
 <div class="invite"><%= render 'invites/invite_info' %></div>
 <br>
 <div class = "product"><%= render 'products/product_info' %></div>
</div>
</div>
<div class="hidden">
<button class="button1"><h3>Create a GuestList</h3> </button>
<div class="showguest"><%=link_to  "Show Guest Your List" , invites_path(:event_id => @event.id), class: 'css_class', style: 'color:#FFFFFF'%></div>
</div>
<button class="button2"><h3>Create Items</h3></button>
 <br>
  <div class="showproduct"><%=link_to  "Show Your Products" , products_path(:event_id => @event.id),class: 'css_class', style: 'color:#FFFFFF'%></div>
 <br>
<p>Total cost  $<%= @total %></p>
	<p>Remaining Budget $<%= @wallet%></p>




