<h2 class ="lobster">Items</h2>
<%= form_for @product do |f| %>

	<div class="font"><%=f.label "Item Name" %></div>

	<%=f.text_field :name %>
	
	<div class="font"><%=f.label "Item Price" %></div>

	<%=f.text_field :price %>

	<div class="font"><%=f.label " Item Quantity" %></div>
	
	<%=f.text_field :quantity %>

	<%=f.hidden_field :event_id, :value => @event.id %>
	<br>
	<%=f.submit%>
	
<%end%>