<h2 class ="lobster">Items</h2>
<%= form_for @product do |f| %>
	<div class="font"><%=f.label "Name" %></div>
	<br>
	<%=f.text_field :name %>
	<br>
	<div class="font"><%=f.label "Price" %></div>
	<br>
	<%=f.text_field :price %>
	
	<br>
	<div class="font"><%=f.label "Quantity" %></div>
	<br>
	<%=f.text_field :quantity %>
	<br>
	<%=f.hidden_field :event_id, :value => @event.id %>
	<br>
	<%=f.submit%>
	<br>
<%end%>